body {
  background-color: darksalmon;
}

div {
  background-color: yellow;
}

p {
  background-color: yellow;
  font-size: 42px;
}

button {
  background-color: red;
  color: pink;
  font-size: 55px;
  text-transform: uppercase;
}

.negro {
  background-color: black;
  color: cyan;
}

.letra-verde {
  color: lime;
}

div.centrado p {
  color: red;
}

.izquierda p {
  color: blue;
}

/* #boton {
  background-color: green;
  color: purple;
} */
